<footer class="site-footer">
  <div class="wrapper">
    <!-- Google Analitics -->

    <!-- Google Analitics -->

    <div align="center">
      {% if page.keywords %}
      <p>
        <strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines |
        truncate: 160 }} {% endif %}
      </p>
    </div>

    <h2 class="footer-heading" align="center">{{ site.title }}</h2>
    <p align="center">
      Opensource проект с кодами
      <a href="https://bitbucket.org/javadev-ru/javadev.ru">BitBucket</a>.
      Желающие могут поучавствовать в его развитии.
    </p>
    <p align="center">Группа в телеграм: javadev_ru</p>
  </div>
</footer>
